{
  "extends": "airbnb",
  "rules": {
    "func-names": ["error", "never"],
    "linebreak-style": ["error", "windows"],
    "comma-dangle": ["error", "never"],
    "arrow-parens": ["error", "as-needed"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": [1, { "ignorePureComponents": true }],
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "no-console": 0,
    "react/prop-types": 0,
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "arrow-body-style": 0
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "document": false
  }
}
